{% if license == 'GLPv3' %}{% include 'license/gpl3.txt' %}{% endif %}{% if license == 'BSD3' %}{% include 'license/bsd3.txt' %}{% endif %}{% if license == 'MIT' %}{% include 'license/mit.txt' %}{% endif %}{% if license == 'Apache' %}{%include 'license/apache.txt' %}{% endif %}